
#connections-area {
    height: 97vh;
    padding-bottom: 1vh;
    padding-top: 3vh;
}

#table-area {
    height: 97vh;
    padding-bottom: 1vh;
    padding-top: 3vh;
}

.content-box {
    height: 98vh;
}

.content-box1 {
    height: 80vh;
}