body {
    /*background: #88481b;*/
    background:  radial-gradient(900px, #9a4c11, #633404, #551c04);
            /* liked these radial in general, not necessarily fit :
            radial-gradient(900px, #9a4c11, #ed1939, #98092f);
            radial-gradient(900px, #9f4606, #ed1939, #98092f);
            radial-gradient(900px, #9f4606, #98095e, #98092f);*/
    /*sample: linear-gradient(15deg, #f4c7ac, #105a91);*/

    font-family: "Courier New", Courier, monospace;
    color: antiquewhite;
    font-weight: lighter;
    /*font-size: 30px;*/
}


