/*.tooltip {*/
/*    position: absolute;*/
/*    text-align: center;*/
/*    font: 12px sans-serif;*/
/*    !*  pointer-events: none;	This line needs to be removed *!*/
/*}*/
.tooltip {
    width: 150px;
    padding: 10px;
    position: absolute;
    text-align: left;
    font: 12px sans-serif;
    background-color: rgba(255, 255, 255, 0.8); /* Translucent white background, referenced GPT */
    border-radius: 3px;
    /*  pointer-events: none;	This line needs to be removed */
}
.tooltip h3,h4 {
    text-align: left;
    font: 25px sans-serif;
}
.tooltip h4 {
    font: 14px sans-serif;
}

.table {
    font-size: 0.7em;
}

.x-axis, .y-axis {
    font-size: .5em;
}

.state {
    fill: lightgray;
    stroke: white;
    stroke-width: 1;
    pointer-events: all;

}

#legend-label {
    width: 100px;
}

.rect {

}